.not-found {
  margin-top: 100px;
  text-align: center;
}

.not-found h1 {
  margin: 0;

  color: #1f3b5b;

  font-size: 80px;
}

.not-found h2 {
  color: #334155;
}

.not-found p {
  color: #64748b;
}

.not-found a {
  display: inline-block;

  margin-top: 15px;
  padding: 10px 20px;

  background: #1f3b5b;
  color: white;

  text-decoration: none;

  border-radius: 5px;
}